
  .footer {
    grid-column: span 12;
    background-color: #495E57;
    display:flex;
    color: white;
    justify-content: center;
  }

  .contact {
    font-size: 1vw;
    text-align: center;
  }