.App {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  gap: 20pt;
}

.header {
  grid-column: 3 / 12;
  display:grid;
  grid-template-columns: repeat(10, 1fr);
}

.bookingPage {
  grid-column: col-start / span 12;
  display:grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto;
  gap:20pt;
  justify-content: center;
  align-items: center;
}

.main {
  grid-column: col-start / span 12;
}

button {
  padding: 1vw;
  text-align: center;
  font-family: Karla;
  font-size: 1vw;
  width: 15vw;
  border: 1px solid white;
  font-weight:bold;
  background:#F4CE14;
  border-radius: 5%;
  transition: all 0.3s ease;
  cursor:grab;
}

button:hover {
  background-color: #EE9972; 
  transform: scale(1.1);
}

.banner {
    grid-column: 1 / 13;
    grid-row: 1;
    background: #495E57;
}

